{% extends '::base.html.twig' %}

{% block body %}
    <p>{{ title }}</p>
    <p>{{ price }}</p>
    <p>
    {% for ph in photo %}
        <img width="200" src="{{ ph }}">
    {% endfor %}
    </p>
{% endblock %}